<div class="task_suggestions col-10 offset-1">
  <h1>Daily Cleans</h1>
    <p>Make Bed</p>
    <p>Dishes</p>
    <p>Check Mail(Email)/Sort/Recycle</p>
    <p>Pick Up Trash/Dispose</p>
    <p>Collect/Organize Recycling</p>
    <p>Compost</p>
    <p>Wipe Kitchen Counters</p>
    <p>Pay Bills</p>
    <p>Tidy Up</p>
    <p>Return Items to Proper Place</p>
    <p>Answer Messages/Texts</p>
    <p>Check Appointments/Schedule</p>
    <p>Meal Planning</p>
    <p>Cat Litter</p>
    <p>Pet Food/Beverage Bowls</p>
    <p>Walk Dog & Dog Walker</p>
</div>