<div class="task_suggestions col-10 offset-1">
  <h1>Nuts and Bolts</h1>
    <h2>10-15 Years</h2>
      <p>Automatic garage-door opener</p>
      <p>Interior and exterior paint</p>
      <p>Kitchen faucet</p>
      <p>Aluminum windows</p>
    <h2>20-25 Years</h2>
      <p>Aluminum gutters</p>
      <p>Asphalt driveway</p>
      <p>Asphalt roof</p>
      <p>Concrete shingle roof</p>
      <p>Linoleum floor</p>
      <p>Sprinklers and valves</p>
      <p>Vinyl door</p>
      <p>Wood shutters</p>
      <p>Wooden deck</p>
    <h2>30 Years</h2>
      <p>Aluminum downspouts</p>
      <p>Wooden shake roof</p>
      <p>Wooden windows</p>
      <p>Marble/granite countertop</p>
    <h2>50 Years</h2>
      <p>Copper, concrete or slate roof</p>
      <p>Copper gutters</p>
      <p>Kitchen sink</p>
      <p>Vinyl floor</p>
    <h2>100 Years to Forever</h2>
      <p>Chimney</p>
      <p>Concrete foundation</p>
      <p>Concrete waste pipes</p>
      <p>Copper-plated electrical wiring</p>
      <p>Fiberglass, steel or wood doors</p>
      <p>Fireplace</p>
      <p>Wood floors</p>
      <p>Wood, vinyl, brick or stone siding</p>
<hr />
  <h1>Applicances</h1>
    <h2>5 Years</h2>
      <p>Smoke and carbon monoxide detectors</p>
    <h2>10 Years</h2>
      <p>Dishwasher</p>
      <p>Freezer</p>
      <p>Garbage disposal</p>
      <p>Microwave</p>
      <p>Security system</p>
      <p>Washing machine</p>
      <p>Water heater (gas or electric)</p>
      <p>Window unit air-conditioners</p>
    <h2>15 Years</h2>
      <p>Central air-conditioner</p>
      <p>Dryer</p>
      <p>Electric boiler</p>
      <p>Electric furnace</p>
      <p>Range/oven hood</p>
      <p>Range (gas or electric)</p>
      <p>Refrigerator</p>
    <h2>20 Years</h2>
      <p>Gas boiler</p>
      <p>Gas or oil furnace</p>
      <p>Tankless water heater</p>
    <h2>30 Years</h2>
      <p>Thermostat</p>
</div>
