<div class="row">
  <% @tasks.each do |task| %>
    <div class="tasks col-2">
        <p>
          <%= task.spring %>
          <br />
          <%= task.summer %>
          <br />
          <%= task.fall %>
          <br />
          <%= task.winter %>
        </p>
      </div>
  <% end %>
</div>

