<div class="task_suggestions col-10 offset-1">
      <h1>Change of Address Checklist</h1>
        <h2>Utilities</h2>
          <p>Electricity</p>
          <p>Gas</p>
          <p>Water</p>
          <p>Cable/Internet/Phone</p>
          <p>Cell Phone</p>
          <p>Trash</p>
        <h2>Financial</h2>
          <p>Employment(HR/Payroll)</p>
          <p>Banks</p>
          <p>Credit Cards</p>
          <p>Loan Agencies (Mortgage, Auto, Student, etc.)</p>
          <p>Insurance (Auto, Medical, Dental, Life, Home, etc.)</p>
          <p>Investment Broker</p>
        <h2>Government</h2>
          <p>Social Security</p>
          <p>Department of Revenue</p>
          <p>DMV (License, Registration)</p>
          <p>USPS Mail Forwarding</p>
          <p>Voter Registration</p>
          <p>Business License Office</p>
        <h2>Memberships</h2>
          <p>Professional Associations</p>
          <p>Magazines</p>
          <p>Gyms</p>
          <p>Community Groups</p>
          <p>Other</p>
        <h3>Services</h3>
          <p>Home (Lawn, Delivery, Cleaning, etc)</p>
          <p>Childcare</p>
          <p>Doctors</p>
          <p>Lawyers</p>
          <p>Accountants</p>
          <p>Vet</p>
        <h3>Other</h3>
          <p>Business Cards</p>
          <p>Personal Sites</p>
          <p>Friends/Family</p>
</div>