<div class="row">
    <div class="task_suggestions col-3 offset-1">
        <%= link_to image_tag("spring.png"), root_path %>
        <h1>Spring</h1>
         <input type="date" id="start" name="trip-start">
    </div>
    <div class="task_suggestions col-6 offset-1">
        <h3>Plants</h3>
            <p>Rake remaining leaves and debris from last fall/winter.</p>
            <p>Add thin layer of mulch to beds.</p>
            <p>Trim trees, bushes and shrubs (Wait until spring-flowering shrubs have finished blooming).</p>
            <p>Add copper sulfate to basement floor drain and downspout drains to control tree roots in main sewer.</p>
            <p>Clear/dead plants/shrubs/trees from house - especially vines.</p>
            <p>Check for interference with electric lines.</p>
        <hr />
        <h3>Metal/Machine</h3>
            <p>Clean out gutters.</p>
            <p>Oil garage door tracks.</p>
            <p>Mower tuneup for new year of use and first mowing session.</p>
        <hr />
        <h3>Water</h3>
            <p>Turn outside faucets back on - check for damage.</p>
            <p>Check exterior drainage - flowing away from home.</p>
            <p>Plumbing: examine pipes, look for leaks, faucet drips, flapper in toilet tank.</p>
            <p>Powerwash.</p>
            <p>If have pool/hottub, check valves and filters, inspect equipment/chemicals & service for new season.</p>
        <hr />
        <h3>Structure</h3>
            <p>Inspect exterior - siding, brick, paint, & foundation.</p>
            <p>Inspect for rotting wood.</p>
            <p>Check and replace any bad caulking around windows, doors, siding joints.</p>
            <p>Scrape loose window glazing and replace as needed.</p>
            <p>Wash window screens/repair & replace as needed.</p>
            <p>Inspect roofing for damage, leaks, loose shingles, & sagging.</p>
            <p>Remove storm windows.</p>
        <hr />
        <h3>Air</h3>
            <p>Get air conditioning system ready for summer. Service and checkup with HVAC technician for ductwork damage, furnace and A/C compressor. Clean bathroom vents.</p>
            <p>Window-unit A/C: clean and/or replace filters.</p>   
    </div>
</div>
<br /><br />