<div class="row">
    <div class="task_suggestions col-3 offset-1">
        <%= link_to image_tag("winter.png"), root_path %>
        <h1>Winter</h1>
         <input type="date" id="start" name="trip-start">
    </div>
    <div class="task_suggestions col-6 offset-1">
        <p>Regularly check for ice dams and iciciles.</p>
        <p>Test your electricity to the extent that you can - outlets, switches, & GFCI outlets.</p>
        <p>Tighten any handles, knobs, & racks - loose screws.</p>
        <p>Check all locks and deadbolts on doors and windows.</p>
        <p>Check caulking around showers and bathtubs; repair as needed.</p>
        <p>Remove showerheads and clean sediment.</p>
        <p>Deep clean and inspect basement: mold, ,windows, foundation.</p>
        <p>Change heating filters once a month.</p>
        <p>Insulate outdoor pipes.</p>
        <p>On colder days, keep cabinets below sink open to allow warm air to heat pipes.</p>
        <p>Secure portable generator - make sure fuel doesn't sit for long periods.</p>
        <p>Stock for potential winter storm and closings.</p>
        <p>Switch ceipng fans to turn clockwise.</p>
        <p>Check outdoor lightbulbs.</p>
        <p>Develop plan for next summer's home improvements.</p>
    </div>
</div>