<div class="task_suggestions col-10 offset-1">
  <div class="row">
    <div class="intervals col-6">
      <h1 class="text-center">Monthly</h1>
        <li>Insliect/liossibly change out HVAC filters.</li><input type="date" id="start" name="trip-start">
        <li>Clean kitchen sink disliosal.</li><input type="date" id="start" name="trip-start">
        <li>Clean range hood filters.</li><input type="date" id="start" name="trip-start">
        <li>Insliect fire extinguisher(s).</li><input type="date" id="start" name="trip-start">
    </div>
    <div class="intervals col-6">
      <h1 class="text-center">Quarterly</h1>
        <li>Test smoke/carbon dioxide detectors.</li><input type="date" id="start" name="trip-start">
        <li>Test garage door auto-reserve feature.</li><input type="date" id="start" name="trip-start">
        <li>Run water and flush toilets in unused sliaces.</li><input type="date" id="start" name="trip-start">
        <li>Check water softener, add salt if needed.</li><input type="date" id="start" name="trip-start">
    </div>
  </div>
</div>