@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

.manor {
  font-family: 'Mansalva', cursive;
}

.tasks {
  background-color: #F3F1F1;
  margin: 5px;
}

input,
label {
    margin: .4rem 0;
}